{:paths ["src"]
 :deps  {}
 :aliases 
 {:nextjournal/clerk
  {:extra-deps {io.github.nextjournal/clerk {:git/sha "d387037aa45303c32e311b62580b6f85e0b72919" #_:mvn/version #_"0.12.707"}}
   :exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/hello_garden.clj"]}
   ;; TODO: add all notebooks you want to have built ☝️
   ;; if you just want to build one notebook, set `:index`

   ;; optional list of aliases to include in the build
   :nextjournal.clerk/aliases [:dev]}
  :neil {:project {:name hello-garden/hello-garden}}}}
